<h1 id="page-title">Eat Da Burger!</h1>
<img id="burger-icon" src="https://www.seriouseats.com/thmb/Po6tpVxaADjvMgyUo7c7OaxlATs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2014__09__20140918-jamie-olivers-comfort-food-insanity-burger-david-loftus-f7d9042bdc2a468fbbd50b10d467dafd.jpg"><img>

<div id="undevoured-burgers">
    <h2>Burgers!</h2>

    <ul>
        {{#each burgers}} {{#unless this.devoured}}
        <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">Devour it!</button>
            </form>
        </li>
        {{/unless}} {{/each}}
    </ul>
</div>

<div id="devoured-burgers">
<h2>Devoured Burgers!</h2>
<ul>
    {{#each burgers}} {{#if this.devoured}}
    <li>
        {{this.burger_name}}
        </form>
    </li>
    {{/if}} {{/each}}
</ul>
</div>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

    <div class="form-group">
        <label for="new_burger">Burger Name:</label>
        <input type="text" id="new_burger" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
</form>